@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.menu {
  z-index: 999;
}
.border-bot {
  border-bottom: 2px solid rgb(153, 153, 153);
}
.bg-dongker {
  background-color: #003049;
}
.bg-white {
  background-color: #ffffff;
}
.btn.bg-dongker:hover {
  background-color: #002235;
}
.bg-transparan {
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-gray {
  background-color: #e7e7e7;
}
.list-grup {
  list-style: none;
  display: flex;
}
.list-item {
  font-weight: bold;
}
.list-item a {
  color: black !important;
}
.grup {
  margin-bottom: 1.5rem;
}
.add-barang {
  border: none;
  background-color: #38b000;
  transition: 0.2s;
}
.add-barang:hover {
  background-color: #2d8d00;
}
.cari-barang {
  border: none;
  background-color: #003049;
  transition: 0.2s;
  color: white;
}
.cari-barang:hover {
  background-color: #002235;
}
.color-black {
  color: black;
}
input.search,
select.pilih-bulan,
select.pilih-tahun {
  border: none;
  background-color: rgb(199, 199, 199);
}

th,
td {
  padding-right: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

a.hapus {
  background-color: red;
  padding: 5px 15px;
  border-radius: 8px;
  color: white;
  transition: 0.3s;
}
a.hapus:hover {
  background-color: rgb(218, 0, 0);
}
a.edit,
button.edit {
  background-color: yellow;
  padding: 5px 15px;
  border-radius: 8px;
  margin-right: 0.5rem;
  color: black;
  transition: 0.3s;
  border: none;
}
a.edit:hover,
button.edit {
  background-color: rgb(236, 213, 0);
}
a {
  text-decoration: none;
}
a.add-transaksi {
  padding: 0 2.7rem;
}
.nav-utama {
  height: 4.5rem;
  width: 100%;
  filter: drop-shadow(0 2px 0.1rem rgba(0, 0, 0, 0.5));
  background-color: #fff;
}
.date-menu {
  font-size: 0.9rem;
}
.jml-item {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.5);
}
.jml-harga {
  font-size: 0.9rem;
}
.order-menu {
  position: absolute;
  top: 4.5rem;
  right: 0;
}
.nav-utama {
  position: fixed;
  z-index: 999;
}
.wrap-barang {
  min-height: 100vh;
}
.items-order-title,
.items-order-harga {
  font-size: 0.8rem;
}
.min-items,
.plus-items {
  font-size: 0.8rem;
  height: 1.2rem;
  width: 1.2rem;
}

.items .items-wrap {
  overflow: auto;
}
.items .items-wrap {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.items .items-wrap::-webkit-scrollbar {
  width: 3px;
}

.items .items-wrap::-webkit-scrollbar-thumb {
  background-color: #003049;
  border-radius: 6px;
}

.items .items-wrap::-webkit-scrollbar-track {
  background-color: transparent;
}
.th-struk {
  font-size: 0.8rem;
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.dropdown-toggle {
  outline: 0;
}

.btn-toggle {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), 0.85);
  background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), 0.85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

.scrollarea {
  overflow-y: auto;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}
