html,
body {
  height: 100%;
}

.bc-navy {
  background-color: #003049;
}

.c-navy {
  color: #003049;
}
.btn.bc-navy:hover {
  background-color: #001f30;
  color: white;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.wrap {
  background-color: #fff;
}
